.pricingHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 3rem 20px;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--ifm-font-color-secondary);
}

.planWrapper {
  padding: 0px 20px;
}

.planInner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.planPrice {
  flex: 0 0 100%;
}

.planDetailsWrapper {
  flex: 0 0 100%;
}

.planName {
  display: block;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
}

.planName.essential {
  color: rgb(55, 213, 211);
}

.planName.standard {
  color: rgb(102, 191, 60);
}

.planName.enterprise {
  color: rgb(230, 157, 0);
}

.planName.bespoke {
  color: rgb(30, 167, 253);
}

.price {
  line-height: 1;
  padding: 1rem 0px;
}

.numeral {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.planDesc {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.planSubtext {
  font-size: 14px;
}

.trialButton {
  margin-right: 20px;
  flex: 0 0 auto;
}

.planDetails {
  padding-left: 0px;
  list-style: none;
  margin: 0px;
}

.pricingPlanDetails {
  padding-left: 0px;
  list-style: none;
  margin: 0px;
}

.pricesDesc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.detail {
  display: flex;
  align-items: center;
  line-height: 1.75;
  padding: 0px;
}

.checkIcon {
  margin-right: 10px;
  color: rgb(255, 255, 255);
  padding: 3px;
  background: rgb(102, 191, 60);
  border-radius: 100%;
}

.separator {
  margin: 0;
  border-style: solid none none;
  border-top: 1px solid;
  border-top-color: rgba(128, 128, 128, 0.2);
}

.pricesWrapper {
  padding: 3rem 20px;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  flex: 0 0 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.planDetails {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 600px) {
  .title {
    font-size: 2rem;
    line-height: 36px;
    margin-bottom: 0.75rem;
  }

  .desc {
    font-size: 20px;
    line-height: 32px;
  }

  .planPrice {
    flex: 1 1 0%;
    padding-right: 20px;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
  }

  .planDetailsWrapper {
    flex: 1 1 0%;
  }

  .planDetails {
    line-height: 1.25;
    padding: 0.5rem 0px;
  }

  .detail {
    display: flex;
    align-items: center;
    line-height: 1.75;
    padding: 0px;
  }

  .action {
    flex-direction: column;
    align-items: flex-start;
  }

  .pricesWrapper {
    margin: 0px 5%;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .schedule {
    padding-bottom: 3rem;
  }

  .plan {
    margin-bottom: 0px;
    padding-bottom: 3rem;
    flex: 0 0 45%;
    border-bottom: none;
  }

  .pricesDesc {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 3rem;
  }

  .trialButton {
    margin-bottom: 1rem;
  }

  .planDetails {
    padding-left: 30px;
  }
}

@media (min-width: 800px) {
  .planInner {
    margin-bottom: 10vh;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.2);
    border-image: initial;
    border-radius: 5px;
    padding: 48px 60px;
  }

  .planDetails {
    padding-left: 60px;
  }

  .plan {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    flex: 0 1 33%;
  }
}

@media screen and (min-width: 1200px) {
  .pricesWrapper {
    margin: 0px 11%;
  }
}

@media screen and (min-width: 1800px) {
  .pricesWrapper {
    margin: 0px 17%;
  }
}

@media screen and (min-width: 2400px) {
  .pricesWrapper {
    margin: 0px 22%;
  }
}
