.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  max-width: 60%;
  max-height: 128px;
  margin: 0 auto;
}

.separator {
  margin: 0;
  border-style: solid none none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.contrast {
  background-color: var(--ifm-footer-background-color);
}
