/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.announcement {
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
}

.announcementDark {
  background-color: #20232a;
  color: #fff;
}

.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}

.chartContainer {
  height: 400px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  max-width: 60%;
  max-height: 128px;
  margin: 0 auto;
}

.separator {
  margin: 0;
  border-style: solid none none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
